---
layout: layouts/base.liquid
---
<div class="hero">
    <div class="hero-content">
        <div class="intro">{{ content }}</div>
    </div>
</div>
<section class="post-list__wrapper">
    <h2 class="post-list__heading">Recent Posts</h2>
    {% assign recentPosts = collections.posts %}
    {% include 'components/posts-list' %}
</section>
