html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
    font-variant-ligatures: contextual;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    border-style: solid;
    border-width: 0;
    margin: 0;
    padding: 0;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
    text-decoration: underline;
}

a:hover {
    color: #060606;
}

ol {
    list-style-position: inside;
}

ol ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

b,
strong {
    font-weight: 500;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
    overflow-x: auto;
    min-width: 100%;
    border: 1px solid gray;
    margin-top: 1rem;
}

table caption {
    margin-top: 1rem;
}

td,
th {
    border: 1px solid lightgray;
    padding: 0.5rem;
    text-align: left;
}

th {
    font-weight: 500;
}

td:only-child {
    text-align: center;
}

* + h1,
* + h2 {
    margin-top: 3rem;
}

* + h3,
* + h4,
* + h5,
* + h6 {
    margin-top: 2rem;
}

* + p {
    margin-top: 1.5rem;
}

h2 + p,
h3 + p,
h4 + p {
    margin-top: 1rem;
}

iframe,
audio,
video,
img {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
}

blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 3px solid skyblue;
    font-style: italic;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    font-weight: 400;
    color: #262626;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}

.layout-wrapper {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    min-height: 100%;
}

.main {
    display: flex;
    padding-bottom: 4rem;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 0;
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    max-width: none;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 48.75rem;
    padding: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid lightgray;
}

.site-title {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.site-title a {
    color: #060606;
    text-decoration: none;
}

.site-title a:hover {
    color: black;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav__list a {
    color: gray;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav__list li {
    margin-right: 2rem;
}

.nav__list li:last-child {
    margin-right: 0;
}

.nav__list a:hover {
    color: black;
}

.footer {
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: none;
    width: 100%;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 48.75rem;
    width: 100%;
    font-size: 1rem;
    border-top: 1px solid lightgray;
}

.footer__content > * {
    margin-top: 2rem;
}

.footer__attribution {
    font-size: 0.8rem;
}

.footer ul {
    list-style: none;
    display: flex;
}

.footer li {
    margin-right: 2rem;
}

.footer__content a {
    color: inherit;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 3rem;
}

.hero h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.hero p {
}

.hero__social-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2rem;
    text-transform: uppercase;
}

.hero__social-links > li {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.hero__skip-link {
    align-self: center;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    border: 2px solid #262626;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.hero__skip-link svg {
    transition: opacity 0.2s ease-in-out;
    stroke: #262626;
}

.tags > * {
    margin-top: 0.5rem;
}

.tags {
    margin-top: 1rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.tags a {
    text-decoration: none;
}

.post-tag {
    margin-right: 0.5rem;
}

.post-list__wrapper {
    margin-top: 4rem;
}

.post-list__heading {
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.post-list {
    list-style: none;
}

.post-list__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-top: 1px solid lightgray;
}

.post-list__item:last-child {
    border-bottom: none;
}

.post-list__title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.post-list__title a {
    font-weight: normal;
    text-decoration: none;
    color: #060606;
}

.post-list__title a:hover {
    text-decoration: underline;
}

.post-list__meta {
    font-size: 0.875rem;
    margin-top: 1rem;
    color: gray;
}

.post-list__meta * + * {
    margin-left: 0.5rem;
}

.post-list__tags {
    text-decoration: none;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.post-list__tags a {
    text-decoration: none;
    color: gray;
}

.post-list__tags a:hover {
    color: skyblue;
}

.post-list__tags > * + * {
    margin-left: 1rem;
}

.post-list__cover-caption {
    margin-top: 0.4rem;
    color: #6c6c6c;
    font-size: 0.8rem;
}

.post-list__excerpt {
    margin-top: 1rem;
    color: #060606;
}

.post-list__read-more {
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    text-decoration: underline;
}

.post-list__read-more:hover {
    text-decoration: underline;
}

.all-posts-link {
    margin-top: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125rem;
    text-decoration: underline;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post > * + * {
    margin-top: 2rem;
}

.post li {
    margin-left: 2rem;
}

.post__details {
    opacity: 0.6;
    font-size: 0.9rem;
}

.post__details > * + * {
    margin-left: 0.5rem;
}

.post__cover-caption {
    margin-top: 0.4rem;
    color: #6c6c6c;
    font-size: 0.8rem;
}

.post__content {
    word-wrap: break-word;
}

.post__aside {
    margin-top: 2rem;
}

.post__tags {
    opacity: 0.8;
    font-size: 0.875rem;
}

.post__tags * + * {
    margin-left: 0.5rem;
}

.post__pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__pagination > *:only-child {
    margin-right: auto;
    margin-left: auto;
}

.post__pagination a {
    display: flex;
    align-items: center;
}

.post__pagination span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.post-tags {
    color: gray;
    font-size: 0.875rem;
}

.post-tags a {
    color: inherit;
    text-decoration: none;
}

.post-tags a:hover {
    text-decoration: underline;
}

.post-title {
    color: #060606;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: none;
}

.post-title a {
    color: inherit;
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: underline;
}

.post-excerpt {
}

mark {
    background: skyblue;
    color: lightgray;
    padding: 1px 6px;
    margin: 0 2px;
    font-size: 0.95rem;
}

pre {
    white-space: pre-wrap;
    tab-size: 2;
    border: 1px solid #dadce0;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 3px;
    overflow: auto;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    scrollbar-width: thin;
}

code,
kbd {
    color: #060606;
    font-feature-settings: normal;
    background: #e5e5e5;
    padding: 1px 6px;
    margin: 0 2px;
}

pre,
code {
    font-size: 0.85rem;
    font-family: 'Roboto Mono', 'Source Code Pro', 'Liberation Mono',
    'Lucida Console', monospace;
    background: #fafafaff;
    color: #383a42ff;
}

pre code {
    background: transparent;
    padding: 0;
    margin: 0;
}

code,
pre,
pre[class*='language-'] {
    background: #f8f9fa;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

pre,
pre[class*='language-'] {
    color: #202124;
    overflow: auto;
    padding: 0.5em;
}

code {
    padding: 0.125em 0.25em;
}

pre > code {
    line-height: 1.5;
    background: initial;
    border: initial;
    border-radius: initial;
    padding: initial;
}

.token.comment {
    color: #174ea6;
}

.token.atrule,
.token.attr-value,
.token.punctuation,
.token.string {
    color: #174ea6;
}

.token.property,
.token.tag {
    color: #1e8e3e;
}

.token.boolean,
.token.number {
    color: #1967d2;
}

.language-css .token.string,
.token.attr-name,
.token.attr-value .punctuation:first-child,
.token.important,
.token.keyword,
.token.operator,
.token.regex,
.token.selector,
.token.url {
    color: #d01884;
}

code[class*='language-'],
pre[class*='language-'] {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
    background: #e5e5e6ff;
    color: inherit;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
    background: #e5e5e6ff;
    color: inherit;
}

@media print {
    code[class*='language-'],
    pre[class*='language-'] {
        text-shadow: none;
    }
}

pre[class*='language-'] {
    padding: 0.5em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: #f8f9fa;
}
