---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="https://nizar.se/feed.xml" rel="self"/>
  <link href="https://nizar.se/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>https://nizar.se/</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl %}https://nizar.se{{ post.url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {%- if post.data.cover %}
    <link rel="enclosure" type="image/jpeg" href="https://nizar.se{{ post.data.cover }}" />
    {%- endif %}
    <content type="html">
      {%- if post.data.cover %}
      &lt;img src="https://nizar.se{{ post.data.cover }}" alt="{{ post.data.coverAlt | escape }}" /&gt;
      {%- endif %}
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>