<footer class="footer">
    <div class="footer__content">
        <p class="footer__attribution">Powered by <a href="https://www.11ty.dev">11ty</a>, based on <a href="https://github.com/yinkakun/eleventy-duo">Eleventy Duo</a></p>
    </div>
</footer>