<header class="header">
    <div class="header__content">
        <h1 class="site-title">
            <a href="/">{{ site.name }}</a>
        </h1>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav-item">
                    <a href="/tags">Tags</a>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>